body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Georgia', serif;
  color: white;
}

#vanta-bg {
  height: 100vh;
  width: 100%;
  position: relative;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
